html {
  font-family: "Gemunu Libre", "Courier New";
  font-size: 1.435rem;
  line-height: 25px;
  padding: 10px;
  
  
}
body {
   background-image: url("https://cdnb.artstation.com/p/assets/images/images/019/170/273/large/ford-nguyen-city-street.jpg?1562315890");
   text-align: center;
   color: PeachPuff; 
   
}

#anime{
      width:100px;
      height:100px;
      
	  float: none;
  }

label {
		
		display: block;
        padding-left: 15px;
        text-indent: -15px;
       
		
      }
 input {
        
        height: 35px;
        width: 15%;
		padding:  0;
        margin: 5px;
        vertical-align: middle;
        position: relative;
        top: 0px;
		
      }

select {
	height: 35px;
    width: 15%;
	
}




button {
 height: 35px;
 width: 35%;
 display: block;
 margin: 0 auto;
 font-size: 25px;
}

@media screen and (min-width: 510px) {
 #container {
  text-align: center;
  margin: 3% auto 0 auto;
  width: 90%;
 }
}
@media (min-height: 680px), screen and (orientation: portrait) {
  /* … */
  #container {
  clear: right;
  margin: 3% auto 0 auto;
  width: 90%;
	}
}

@media screen and (min-width: 940px) {
 #container {
  margin: 3%;
  width: 90%;
 }
}
